:root{
    --primary-100:#363062; 
    --white:#ffff; 
    --black-100:#2C2828; 
    --green-100:#4D4C7D; 
  }
html {
    scroll-behavior: smooth;}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    line-height:130%;
    color: var(--black-100);
}
body {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}
/*
------------------------  
Keyframes Animation 
--------------------------
*/
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*
------------------------  
 01.  Menu Css
--------------------------
*/
.mobile-toggle {
    width: 40px;
    height: 40px;
    padding: 15px;
    right: 0;
    position: absolute;
}
.mobile-toggle span {
    width: 25px;
    height: 2px;
    position: absolute;
    top: 10px;
    left: 8px;
    border-radius: 10px;
}
.mobile-toggle span:nth-child(2) {
    top: 19px;
}
.mobile-toggle span:nth-child(3) {
    top: 28px;
}
.mobile-toggle.open span:nth-child(1) {
    top: 20px;
    transform: rotate(-45deg);
}
.mobile-toggle.open span:nth-child(2) {
    top: 20px;
    opacity: 0;
}
.mobile-toggle.open span:nth-child(3) {
    top: 20px;
    transform: rotate(45deg);
}
@media only screen and (max-width: 976px) {
    .toggle-menu-class {
        overflow-y: auto;
        max-height: 26rem;
    }
}
@media only screen and (min-width: 976px) {
    .dropdown-menu .dropdown .submenu,
    .dropdown-menu .dropdown .author-submenu {
        opacity: 0;
        visibility: hidden;
        top: calc(100% + 20px);
        transition: .5s;
    }
    .dropdown-menu .dropdown:hover>.submenu {
        opacity: 1;
        visibility: visible;
       top: 100%;
    }
    .dropdown-menu .dropdown:hover>.dropdown-submenu {
       top: 20px;
    }
    .dropdown-menu .dropdown:hover>.author-submenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(5%);
    }
}
.dropdown-menu a:hover path {
    fill: #007FB3;
}
.dropdown a:hover path {
    fill: #007FB3;
}
.submenu li:last-child {
    padding-bottom: 20px;}



@-webkit-keyframes headerSlideDown {

    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes headerSlideDown {

    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}





.header-sticky {
    background-color: #fff;
    position: fixed;
    top: 0!important;
    animation: headerSlideDown .95s ease!important;
    right: 0!important;
    left: 0!important;
    z-index: 99;
    opacity: 9999!important;
   
   }
    .header-area{
        animation: headerSlideDown .95s ease;
    }


.search-icon:hover path {
    stroke:var(--white);
}

.body-sticky .nokum-logo {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100px);
    transition: .5s;
}





    .close-button:before {
        background: white;
        width: 40px;
        height: 40px;
        position: absolute;
        content: "";
        background-image: url(/assets/images/close-icon.svg);
        z-index: 99999;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
    }
    .nokum-menu-icon{
        transform: translateY(100px);
        transition: .5s;
    
    }
    .body-sticky .nokum-menu-icon{
        transform: translateY(0px);  
        transition: .5s;
    }
    
    .body-sticky .nokum-menu-icon {
        opacity: 1;
    }

    

 
    
    


.blog-post-box:nth-last-child(1) {
    border-color: transparent;
}


.link-list li:nth-last-child(1){
    margin-bottom: 0;
}
.social-link li a:hover path {
    fill: var(--green-100);
}

.social-link li:nth-last-child(1){
    margin-right: 0;
}

@media screen and (max-width:1024px){
    
    .nokum-left{
        max-width: 80px;

    }
}
